/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code, pre {
	color: #ffffff;
	/*background: #1d1f21;*/
	/*background: #171812;*/
	background: #000000;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Menlo, Monaco, Consolas, monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

/*
{ color: #1d1f21 }
{ color: #282a2e }
{ color: #373b41 }

{ color: #b4b7b4 }
{ color: #c5c8c6 }
{ color: #e0e0e0 }
{ color: #ffffff }
{ color: #cc6666 }
{ color: #de935f }
*/

.ns-ref { color: #f0c674 }
.string { color: #b5bd68 }
.keyword { color: #8abeb7 }
.var-ref { color: #81a2be }
.clojure-core { color: #b294bb }
.java-class { color: #a3685a }
.punctuation { color: #a6a6a0; }
code a {  text-decoration: none; font-weight: bold;  color: inherit; }

.container { display:flex; flex-direction: row; } 
.source { flex-grow:1; }
.separator { width: 2px; }
.unparsed { background-color: #ff0000; }
.macro { color: #f92672; }

.comment { color: #969896; font-style: italic }
.hash-under * { color: #969896; font-style: italic; font-weight: normal; }
.hash-under { color: #969896; font-style: italic }

/*
.keyword { color: #70c0b1 }
.var-ref { color: #7aa6da }
.clojure-core { color: #c397d8 }
.macro { color: #ae81ff; }
.string { color: #b9ca4a }
.java-class { color: #f92672; }
.punctuation { color: #a6a6a0; }

.comment { color: #777; font-style: italic; }
*/
/*

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.string,
.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
*/
