{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        hiccup {:mvn/version "1.0.5"}
        org.omcljs/om {:mvn/version "1.0.0-beta1"}
        garden {:mvn/version "1.3.3"}
        cheshire {:mvn/version "5.8.0"}
        clj-http {:mvn/version "3.7.0"}
        org.clojure/tools.cli {:mvn/version "0.3.5"}
        com.climate/claypoole {:mvn/version "1.1.4"}
        ;; explicit dependency on jaxb-api for java 9 compatibility
        javax.xml.bind/jaxb-api {:mvn/version "2.3.0"} }}
